#main{
    background-color: #323232;
    width: 80%;
    text-align: center;
    border-radius: 20px;
} 
#mainImg {
	filter: opacity(0.5) drop-shadow(0 0 0#00FFFF);
}

p{
    font-size: 23px;
}

.btn{
    font-size: 26px;
    /* padding: 50px; */
    margin: 50px;
}